<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Working Hours Calculator</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        // Scroll to the results section if results are displayed
        window.onload = function() {
            // Check if results are present (use the id 'results-section')
            if (document.getElementById("results-section")) {
                // Scroll to the results section
                document.getElementById("results-section").scrollIntoView({
                    behavior: "smooth"
                });
            }
        };
    </script>
</head>
<body>
    <div class="container">
        <h1>Working Hours Calculator</h1>
        <form method="POST">
            <div class="form-group">
                <label for="input_data">Paste your punch record from Piano without header:</label>
                <textarea class="form-control" id="input_data" name="input_data" rows="10" style="font-family: monospace;" 
                placeholder="Enter the data here... 

Sample input for punch record is shown below:

1729      13/11/2024 17:53:25      aasdF3
1729      13/12/2024 08:39:47      aasdF3
1729      12/12/2024 18:34:21      aasdF3
1729      12/12/2024 08:42:07      aasdF3"></textarea>            
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <br>
        </form>

        {% if results %}
        <div id="results-section">
            <h3>Daily Work Hours:</h3>
            <div class="table-responsive">
                {{ results | safe }}
            </div>
        <h3>Total Working Hours:{{ total_hours_hhmmss }} ({{ total_hours_decimal | round(2) }} hours)</h3>
        <!-- <p>Total Working Hours: <strong>HH:MM:SS Format:</strong> {{ total_hours_hhmmss }} (<strong>Decimal Format:</strong> {{ total_hours_decimal | round(2) }} hours)</p>         -->
        {% elif error %}
        <div class="alert alert-danger mt-3">
            {{ error }}
        </div>
        {% endif %}
    </div>
    <footer style="text-align: center; padding: 10px; margin-top: 20px; background-color: #f4f4f4; max-width: 800px; margin-left: auto; margin-right: auto;">
        <p style="display: inline;">© 2024 Abhijeet Yadav. All Rights Reserved.</p>
    </footer>
</body>
</html>
