<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Working Hours Calculator</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Working Hours Calculator</h1>
        <form method="POST">
            <div class="form-group">
                <label for="input_data">Paste your punch record from Piano without header:</label>
                <textarea class="form-control" id="input_data" name="input_data" rows="10" placeholder="Enter your data here..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        {% if results %}
        <h3>Daily Work Hours:</h3>
        <div class="table-responsive">
            {{ results | safe }}
        </div>
        <h3>Total Working Hours in the Week: {{ total_hours_hhmm }} ({{ total_hours | round(2) }} hours)</h3>
        <!-- <h3>Total Working Hours in the Week: {{ total_hours_hhmm }} </h3> -->
        {% elif error %}
        <div class="alert alert-danger mt-3">
            {{ error }}
        </div>
        {% endif %}
    </div>
    <footer style="text-align: center; padding: 10px; margin-top: 20px; background-color: #f4f4f4; max-width: 800px; margin-left: auto; margin-right: auto;">
        <p style="display: inline;">© 2024 Abhijeet Yadav. All Rights Reserved.</p>
    </footer>
</body>
</html>
